.list-container {
  height: 100%;
  width: 40%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  margin: 10px;
  border-right: 2px solid grey;
}

ul {
  list-style-type: none;
  list-style: none;
  font-size: 20px;
}

.detail-container {
  height: 100%;
  width: 55%;
  position: fixed;
  z-index: -1;
  top: 0;
  overflow-x: hidden;
  margin: 10px;
  background-color: rgb(171, 230, 248);
  right: 0;
}